In [56]:
import pandas as pd
moviebudgets = pd.read_csv('tn.movie_budgets.csv.gz')
titlebasics = pd.read_csv('imdb.title.basics.csv.gz')

In [57]:
mb = moviebudgets
tb = titlebasics

In [58]:
mb = mb.drop(['id'], axis=1)
mb

,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...
5777,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [59]:
tb

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [60]:
mb.set_index('movie', inplace=True)

In [61]:
tb.set_index('primary_title', inplace=True)

In [62]:
df = mb.join(tb, how='inner')

In [63]:
df

,release_date,production_budget,domestic_gross,worldwide_gross,tconst,original_title,start_year,runtime_minutes,genres
#Horror,"Nov 20, 2015","$1,500,000",$0,$0,tt3526286,#Horror,2015,101.0,"Crime,Drama,Horror"
10 Cloverfield Lane,"Mar 11, 2016","$5,000,000","$72,082,999","$108,286,422",tt1179933,10 Cloverfield Lane,2016,103.0,"Drama,Horror,Mystery"
10 Days in a Madhouse,"Nov 11, 2015","$12,000,000","$14,616","$14,616",tt3453052,10 Days in a Madhouse,2015,111.0,Drama
12 Rounds,"Mar 27, 2009","$20,000,000","$12,234,694","$17,306,648",tt3517850,12 Rounds,2017,NaN,"Action,Drama,Romance"
12 Strong,"Jan 19, 2018","$35,000,000","$45,819,713","$71,118,378",tt1413492,12 Strong,2018,130.0,"Action,Drama,History"
...,...,...,...,...,...,...,...,...,...
Zoom,"Aug 11, 2006","$35,000,000","$11,989,328","$12,506,188",tt6117454,Zoom,2016,NaN,"Crime,Thriller"
Zoom,"Aug 11, 2006","$35,000,000","$11,989,328","$12,506,188",tt6667868,Zoom,2016,NaN,Horror
Zootopia,"Mar 4, 2016","$150,000,000","$341,268,248","$1,019,429,616",tt2948356,Zootopia,2016,108.0,"Adventure,Animation,Comedy"
Zulu,"Dec 31, 2013","$16,000,000",$0,"$1,844,228",tt2249221,Zulu,2013,110.0,"Crime,Drama,Thriller"
xXx: Return of Xander Cage,"Jan 20, 2017","$85,000,000","$44,898,413","$345,033,359",tt1293847,xXx: Return of Xander Cage,2017,107.0,"Action,Adventure,Thriller"

In [65]:
df['genres'].values

array(['Crime,Drama,Horror', 'Drama,Horror,Mystery', 'Drama', ...,
       'Adventure,Animation,Comedy', 'Crime,Drama,Thriller',
       'Action,Adventure,Thriller'], dtype=object)

In [67]:
set(df['genres'].values)

{'Action',
 'Action,Adventure',
 'Action,Adventure,Animation',
 'Action,Adventure,Biography',
 'Action,Adventure,Comedy',
 'Action,Adventure,Crime',
 'Action,Adventure,Documentary',
 'Action,Adventure,Drama',
 'Action,Adventure,Family',
 'Action,Adventure,Fantasy',
 'Action,Adventure,History',
 'Action,Adventure,Horror',
 'Action,Adventure,Mystery',
 'Action,Adventure,Romance',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Thriller',
 'Action,Adventure,Western',
 'Action,Animation,Comedy',
 'Action,Animation,Fantasy',
 'Action,Biography,Comedy',
 'Action,Biography,Crime',
 'Action,Biography,Documentary',
 'Action,Biography,Drama',
 'Action,Comedy',
 'Action,Comedy,Crime',
 'Action,Comedy,Documentary',
 'Action,Comedy,Drama',
 'Action,Comedy,Family',
 'Action,Comedy,Fantasy',
 'Action,Comedy,Horror',
 'Action,Comedy,Mystery',
 'Action,Comedy,Romance',
 'Action,Comedy,Sci-Fi',
 'Action,Comedy,Sport',
 'Action,Crime',
 'Action,Crime,Drama',
 'Action,Crime,Fantasy',
 'Action,Crime,Horror',
 'Action,Crime,Mystery',
 'Action,Crime,Sci-Fi',
 'Action,Crime,Sport',
 'Action,Crime,Thriller',
 'Action,Documentary',
 'Action,Documentary,Drama',
 'Action,Drama',
 'Action,Drama,Family',
 'Action,Drama,Fantasy',
 'Action,Drama,History',
 'Action,Drama,Horror',
 'Action,Drama,Mystery',
 'Action,Drama,Romance',
 'Action,Drama,Sci-Fi',
 'Action,Drama,Sport',
 'Action,Drama,Thriller',
 'Action,Drama,War',
 'Action,Drama,Western',
 'Action,Family,Fantasy',
 'Action,Fantasy,Horror',
 'Action,Fantasy,Thriller',
 'Action,Fantasy,War',
 'Action,Fantasy,Western',
 'Action,History',
 'Action,History,War',
 'Action,Horror',
 'Action,Horror,Mystery',
 'Action,Horror,Sci-Fi',
 'Action,Horror,Thriller',
 'Action,Mystery,Sci-Fi',
 'Action,Mystery,Thriller',
 'Action,Romance',
 'Action,Romance,Sport',
 'Action,Romance,Thriller',
 'Action,Sci-Fi',
 'Action,Sci-Fi,Thriller',
 'Action,Sport',
 'Action,Thriller',
 'Action,Thriller,War',
 'Adventure',
 'Adventure,Animation',
 'Adventure,Animation,Comedy',
 'Adventure,Animation,Documentary',
 'Adventure,Animation,Drama',
 'Adventure,Animation,Family',
 'Adventure,Biography,Comedy',
 'Adventure,Biography,Documentary',
 'Adventure,Biography,Drama',
 'Adventure,Comedy',
 'Adventure,Comedy,Crime',
 'Adventure,Comedy,Drama',
 'Adventure,Comedy,Family',
 'Adventure,Comedy,Fantasy',
 'Adventure,Comedy,Horror',
 'Adventure,Comedy,Music',
 'Adventure,Comedy,Romance',
 'Adventure,Comedy,Sci-Fi',
 'Adventure,Crime,Drama',
 'Adventure,Crime,Thriller',
 'Adventure,Documentary',
 'Adventure,Documentary,Drama',
 'Adventure,Documentary,History',
 'Adventure,Documentary,Music',
 'Adventure,Documentary,Sport',
 'Adventure,Documentary,War',
 'Adventure,Drama',
 'Adventure,Drama,Family',
 'Adventure,Drama,Fantasy',
 'Adventure,Drama,History',
 'Adventure,Drama,Horror',
 'Adventure,Drama,Mystery',
 'Adventure,Drama,Romance',
 'Adventure,Drama,Sci-Fi',
 'Adventure,Drama,Sport',
 'Adventure,Drama,Thriller',
 'Adventure,Drama,Western',
 'Adventure,Family',
 'Adventure,Family,Fantasy',
 'Adventure,Family,Sci-Fi',
 'Adventure,Fantasy',
 'Adventure,Fantasy,Horror',
 'Adventure,Fantasy,Mystery',
 'Adventure,Horror',
 'Adventure,Horror,Mystery',
 'Adventure,Horror,Sci-Fi',
 'Adventure,Mystery,Sci-Fi',
 'Adventure,Sport',
 'Animation',
 'Animation,Comedy,Drama',
 'Animation,Comedy,Family',
 'Animation,Documentary',
 'Animation,Documentary,Family',
 'Animation,Documentary,Sci-Fi',
 'Animation,Drama',
 'Animation,Drama,Fantasy',
 'Animation,Family',
 'Animation,Family,Fantasy',
 'Animation,Fantasy,Musical',
 'Animation,Horror',
 'Animation,Sci-Fi',
 'Biography',
 'Biography,Comedy,Crime',
 'Biography,Comedy,Documentary',
 'Biography,Comedy,Drama',
 'Biography,Crime,Documentary',
 'Biography,Crime,Drama',
 'Biography,Documentary',
 'Biography,Documentary,Drama',
 'Biography,Documentary,Family',
 'Biography,Documentary,History',
 'Biography,Documentary,Music',
 'Biography,Documentary,Sport',
 'Biography,Documentary,War',
 'Biography,Drama',
 'Biography,Drama,Family',
 'Biography,Drama,Fantasy',
 'Biography,Drama,History',
 'Biography,Drama,Music',
 'Biography,Drama,Musical',
 'Biography,Drama,Mystery',
 'Biography,Drama,Romance',
 'Biography,Drama,Sport',
 'Biography,Drama,Thriller',
 'Biography,Drama,War',
 'Biography,Drama,Western',
 'Biography,Family,Sport',
 'Comedy',
 'Comedy,Crime',
 'Comedy,Crime,Drama',
 'Comedy,Crime,Horror',
 'Comedy,Crime,Romance',
 'Comedy,Crime,Thriller',
 'Comedy,Documentary',
 'Comedy,Documentary,Drama',
 'Comedy,Drama',
 'Comedy,Drama,Family',
 'Comedy,Drama,Fantasy',
 'Comedy,Drama,History',
 'Comedy,Drama,Horror',
 'Comedy,Drama,Music',
 'Comedy,Drama,Musical',
 'Comedy,Drama,Mystery',
 'Comedy,Drama,Romance',
 'Comedy,Drama,Sport',
 'Comedy,Drama,Thriller',
 'Comedy,Family',
 'Comedy,Family,Fantasy',
 'Comedy,Family,Romance',
 'Comedy,Fantasy',
 'Comedy,Fantasy,Horror',
 'Comedy,Fantasy,Musical',
 'Comedy,Fantasy,Romance',
 'Comedy,Fantasy,Sci-Fi',
 'Comedy,Fantasy,Thriller',
 'Comedy,Horror',
 'Comedy,Horror,Mystery',
 'Comedy,Horror,Romance',
 'Comedy,Horror,Sci-Fi',
 'Comedy,Horror,Thriller',
 'Comedy,Music',
 'Comedy,Music,Romance',
 'Comedy,Music,War',
 'Comedy,Musical',
 'Comedy,Mystery',
 'Comedy,Mystery,Sci-Fi',
 'Comedy,Mystery,Thriller',
 'Comedy,Romance',
 'Comedy,Romance,Sci-Fi',
 'Comedy,Romance,Sport',
 'Comedy,Romance,Thriller',
 'Comedy,Sci-Fi',
 'Comedy,Sport',
 'Comedy,Thriller',
 'Comedy,Western',
 'Crime',
 'Crime,Documentary',
 'Crime,Documentary,Drama',
 'Crime,Documentary,History',
 'Crime,Drama',
 'Crime,Drama,Family',
 'Crime,Drama,Fantasy',
 'Crime,Drama,History',
 'Crime,Drama,Horror',
 'Crime,Drama,Musical',
 'Crime,Drama,Mystery',
 'Crime,Drama,Romance',
 'Crime,Drama,Thriller',
 'Crime,Fantasy,Thriller',
 'Crime,Horror,Mystery',
 'Crime,Horror,Thriller',
 'Crime,Mystery,Sci-Fi',
 'Crime,Mystery,Thriller',
 'Crime,Thriller',
 'Documentary',
 'Documentary,Drama',
 'Documentary,Drama,Family',
 'Documentary,Drama,History',
 'Documentary,Drama,News',
 'Documentary,Drama,Reality-TV',
 'Documentary,Drama,Sport',
 'Documentary,Drama,War',
 'Documentary,Family',
 'Documentary,Family,History',
 'Documentary,Fantasy,Mystery',
 'Documentary,History',
 'Documentary,History,Mystery',
 'Documentary,History,War',
 'Documentary,History,Western',
 'Documentary,Horror',
 'Documentary,Music',
 'Documentary,Music,War',
 'Documentary,News',
 'Documentary,Sport',
 'Documentary,Sport,Thriller',
 'Documentary,Thriller',
 'Documentary,War',
 'Documentary,Western',
 'Drama',
 'Drama,Family',
 'Drama,Family,Fantasy',
 'Drama,Family,History',
 'Drama,Family,Music',
 'Drama,Family,Mystery',
 'Drama,Family,Romance',
 'Drama,Family,Sport',
 'Drama,Family,Thriller',
 'Drama,Fantasy',
 'Drama,Fantasy,Horror',
 'Drama,Fantasy,Music',
 'Drama,Fantasy,Musical',
 'Drama,Fantasy,Mystery',
 'Drama,Fantasy,Romance',
 'Drama,Fantasy,Sci-Fi',
 'Drama,Fantasy,Thriller',
 'Drama,History',
 'Drama,History,Mystery',
 'Drama,History,Romance',
 'Drama,History,Sport',
 'Drama,History,Thriller',
 'Drama,History,War',
 'Drama,Horror',
 'Drama,Horror,Mystery',
 'Drama,Horror,Sci-Fi',
 'Drama,Horror,Thriller',
 'Drama,Music',
 'Drama,Music,Musical',
 'Drama,Music,Romance',
 'Drama,Music,Thriller',
 'Drama,Musical',
 'Drama,Musical,Romance',
 'Drama,Mystery',
 'Drama,Mystery,Romance',
 'Drama,Mystery,Sci-Fi',
 'Drama,Mystery,Thriller',
 'Drama,Mystery,War',
 'Drama,Romance',
 'Drama,Romance,Sci-Fi',
 'Drama,Romance,Thriller',
 'Drama,Romance,War',
 'Drama,Sci-Fi',
 'Drama,Sci-Fi,Thriller',
 'Drama,Sport',
 'Drama,Thriller',
 'Drama,Thriller,War',
 'Drama,Thriller,Western',
 'Drama,War',
 'Drama,Western',
 'Family',
 'Family,Fantasy',
 'Family,Fantasy,Music',
 'Family,Fantasy,Musical',
 'Family,Horror,Romance',
 'Family,Sci-Fi',
 'Fantasy',
 'Fantasy,Horror',
 'Fantasy,Horror,Mystery',
 'Fantasy,Horror,Sci-Fi',
 'Fantasy,Horror,Thriller',
 'Fantasy,Musical',
 'Fantasy,Romance',
 'Fantasy,Thriller',
 'Horror',
 'Horror,Music,Thriller',
 'Horror,Musical',
 'Horror,Mystery',
 'Horror,Mystery,Sci-Fi',
 'Horror,Mystery,Thriller',
 'Horror,Romance',
 'Horror,Romance,Thriller',
 'Horror,Sci-Fi',
 'Horror,Sci-Fi,Thriller',
 'Horror,Thriller',
 'Music',
 'Music,War',
 'Musical',
 'Mystery',
 'Mystery,Sci-Fi,Thriller',
 'Mystery,Thriller',
 'Romance',
 'Romance,Sci-Fi,Thriller',
 'Romance,Thriller',
 'Sci-Fi',
 'Sci-Fi,Thriller',
 'Sport',
 'Thriller',
 'War',
 'Western',
 nan}